/* Homepage CSS */


/* General tags */ 
* {margin:0; padding:1.5px;}
body {background: #fff; font:100% lucida; color:#000;}
a {background-color:inherit; color:#333; font-weight:bold; text-decoration:none;}
a:hover {text-decoration;color:#387ef9}
p {margin:0 0 16px 0;}
ul, ol {margin:0 0 16px 15px; padding-left:5px;}
ul ul, ol ol {margin:3px 0 0 15px;}
img {float:clear; margin:0 10px 5px 0;}

/* Headers */
h1 {color:#222; font-size:1.8em; letter-spacing:0px; margin:0; text-align:left;}
h2 {color:#222; font-size:1.4em; font-weight:normal; letter-spacing:-1px; margin:5px 0 10px; text-align:left;}
h3 {color:#222; font-size:1.6em; font-weight:bold; letter-spacing:+0.5px; margin:5px 0 10px; font:135% sans-serif;}
h4 {color:#222; font-size:1.4em; font-weight:normal; letter-spacing:-1px; margin:5px 0 10px; text-align:left; line-height:20pt;}
/* IDs */

#title {margin:20px auto -9px; width:700px;}
#navi{background:#fff  top left no-repeat; border:10px #000; color:#444; margin:0 auto 15px; padding:1px 1px; width:850px; line-height:1.10em}
#body{margin:20px auto -9px; width:700px; line-height: 17pt}



div.navi {
	float: center;
	width: 70px; 
	height: 32px;
	margin: 0;
	padding: 0;	
	text-align: center;
	}
	
div.header {
	float: center;
	width: 70px;
	height: 32px;
	text-align: center;
	}



#main{background:#fff  top left no-repeat; border:10px #000; color:#555; margin:0 auto 15px; padding:0px; width:850px; line-height:1.3em}

.description {padding-left: 30pt;}

a.external {
    background: url(external.png) center right no-repeat;
    padding-right: 13px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
}

li {padding: 0px 30px 0px 0px;}

li a.active {
    color: blue;
}

.container {
  position: relative;
  text-align: left;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 90px;
  left: 50px;
  font-size: 24px;
}
/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 140px;
  left: 50px;
  font-size: 14px;
  
}